<h1>hola: esto es una calculadora creada con typeScript usando Angular</h1>
<div class="container">
  <hr>
    <br>
    <div>
      Por favor ingrese un numero:<input type="number" name="" id="" [(ngModel)]="numero1" name="numero1">
    </div>
    <div>
      Por favor ingrese un numero:<input type="number" name="" id="" [(ngModel)]="numero2" name="numero2">
    </div>
<br>
<div class="gerardo">
  <input type="submit" value="Suma" (click)="suma()">
  <input type="submit" value="Resta" (click)="resta()">
  <input type="submit" value="Multiplicar" (click)="multiplicacion()">
  <input type="submit" value="Dividir" (click)="division()" class="btn btn-primary">
</div>
<br>
<br>

estoy funcionando!
<div class="Resultado">
    <div>
       Suma: {{resultadoSuma}}
    </div>
    <div>
       Resta: {{resultadoResta}} 
    </div>
    <div>
       Multipicación: {{resultadoMultiplicacion}} 
    </div>
    <div>
       Division: {{resultadoDivision}} 
    </div>
  </div>

</div>
<!-- terminado -->